<section id="nosotros" class="bg-black text-white py-16 bg-cover bg-center px-5 md:px-0" style="background-image: url('https://res.cloudinary.com/dsbrnqc5z/image/upload/v1727390895/images/backgroundNosotros_whfzhn.png');">
    <!-- Título centrado -->
    <div class="text-center mb-8">
      <h1 class="text-customYellow text-4xl font-bold">Registrados en INASE Categoría A Criaderos</h1>
      <p class="text-xl mt-4">Fitomejoramiento, investigación e inscripción de nuevas variedades.</p>
    </div>
  
    <!-- Contenedor con dos columnas (imagen y texto) -->
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between gap-8">
      
      <!-- Imagen a la izquierda -->
      <div class="w-full md:w-1/2 flex justify-center items-center">
        <img src="https://res.cloudinary.com/dsbrnqc5z/image/upload/v1727390896/images/PSsinfondo3_wsim2y.png" alt="Descripción de la imagen" class="rounded-lg  w-[60%] h-auto object-cover">
      </div>
  
      <!-- Texto a la derecha -->
      <div class="w-full md:w-1/2 space-y-4">
        <p>Somos un banco de semillas de cannabis de Corrientes, con más de 15 años de experiencia en el cultivo del cannabis.</p>
        <p>Nos dedicamos a la investigación, desarrollo, fitomejoramiento genético y registro de diversas variedades de cannabis.</p>
        <p>Brindamos servicios de asesoramiento en todo el proceso de cultivo, desde la elección de la genética hasta los cuidados en cada etapa: germinación, vegetativo, floración, almacenamiento y consumo responsable.</p>
      </div>
  
    </div>
  </section>
  